Repository everton-dgn/boilerplate_nextjs_app: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests, pnpm lint:css:fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "pnpm format",
    "pnpm lint:fix",
    "pnpm test:ci --findRelatedTests"
  ],
  "src/**/*.scss": ["pnpm lint:css:fix"]
}

chore: update libs
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

chore: update libs
  scripts/create-husky-files.mjs
Due: none

chore: update configs
  .lintstagedrc
  README.md
  package.json
  pnpm-lock.yaml
  scripts/create-husky-files.mjs
  yarn.lock
Due: none

chore: update tests
  jest.config.js
  package.json
  yarn.lock
Due: none

chore: update config storybook
  .storybook/preview.tsx
  src/app/layout.tsx
  src/providers/mainProvider/index.tsx
  src/providers/mainProvider/types.ts
  src/testHelpers/providers/components/index.tsx
  src/testHelpers/providers/hooks/index.tsx
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

chore: config vitest and remove jest
  .eslintignore
  .eslintrc
  .jest/setup.ts
  .jest/timezoneMock.ts
  .lintstagedrc
  .prettierignore
  .storybook/preview.tsx
  README.md
  jest.config.js
  package.json
  src/app/home/__tests__/Home.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/organisms/Error/__tests__/CustomError.tsx
  src/testHelpers/providers/helpFunctions/index.ts
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

chore: improvement lints
  .eslintignore
  .prettierignore
Due: none

chore: improvement types
  generator/component/template/component.tsx.hbs
  package.json
  src/app/global-error.tsx
  src/app/home/types.ts
  src/app/layout.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/types.ts
  src/components/organisms/Error/index.tsx
  src/components/templates/DefaultTemplate/index.tsx
  src/components/templates/DefaultTemplate/types.ts
  src/hooks/useCount/index.ts
  src/providers/mainProvider/index.tsx
  src/providers/mainProvider/types.ts
  src/testHelpers/providers/components/index.tsx
  src/testHelpers/providers/hooks/index.tsx
  src/testHelpers/providers/hooks/types.ts
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

fix: fix lint
  .eslintignore
Due: none

chore: include type in tsconfig
  tsconfig.json
Due: none

chore: improvement ts
  tsconfig.json
Due: none

chore: improvement ts
  .gitignore
  tsconfig.json
Due: none

chore: remove sort key plugin eslint
  .eslintrc
  package.json
  yarn.lock
Due: none

fix: fix types
  src/app/not-found.tsx
  src/testHelpers/mocks/style.ts
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

fix: fix types
  src/testHelpers/mocks/assetsTransformer.js
  tsconfig.json
Due: none

fix: fix types
  tsconfig.json
Due: none

chore: update libs
  next.config.js
  package.json
  src/testHelpers/mocks/assetsTransformer.js
  yarn.lock
Due: none

chore: update libs
  package.json
  yarn.lock
Due: none

chore: improvement code
  .storybook/preview.tsx
  .storybook/style.css
  next.config.js
Due: none

chore: update dependencies
  .storybook/main.ts
  package.json
  src/app/home/page.tsx
  vitest.config.mts
  yarn.lock
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

refactor: config order imports
  .eslintrc
  package.json
  src/app/global-error.tsx
  src/app/home/__tests__/Home.test.tsx
  src/app/home/page.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/atoms/CounterButton/index.tsx
  src/components/organisms/Error/__tests__/CustomError.tsx
  src/components/organisms/Error/index.tsx
  src/components/templates/DefaultTemplate/__tests__/DefaultTemplate.test.tsx
  src/components/templates/DefaultTemplate/index.tsx
  src/hooks/useCount/__tests__/useCount.test.ts
  src/hooks/useCount/index.ts
  src/providers/mainProvider/index.tsx
  src/testHelpers/providers/components/index.tsx
  src/testHelpers/providers/helpFunctions/index.ts
  src/testHelpers/providers/hooks/index.tsx
  yarn.lock
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

chore: update dependencies and lint
  .eslintrc
  package.json
  src/components/atoms/Button/index.tsx
  src/components/organisms/Error/index.tsx
  src/components/templates/DefaultTemplate/index.tsx
  yarn.lock
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

chore: update dependencies
  package.json
  yarn.lock
Due: none

refactor: rename tokens of theme
  src/app/(home)/__tests__/Home.test.tsx
  src/app/(home)/loading.tsx
  src/app/(home)/page.tsx
  src/app/(home)/styles.module.scss
  src/app/(home)/types.ts
  src/app/page.tsx
  src/components/atoms/Button/styles.module.scss
  src/components/organisms/Error/styles.module.scss
  src/components/templates/DefaultTemplate/styles.module.scss
  src/theme/_borderRadius.scss
  src/theme/_fonts.scss
  src/theme/_spacings.scss
  src/theme/reset.scss
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests, pnpm lint:css:fix

refactor: remove files
  vitest.config.mts
Due: none

chore: improvement configs
  .eslintignore
  .github/workflows/deploy-vercel.yml
  .gitignore
Due: none

perf: optimized tests to web
  vitest.config.mts
Due: none

chore: remove and update dependence
  package.json
  vitest.config.mts
  yarn.lock
Due: none

chore: update config tests
  package.json
  vitest.config.mts
  yarn.lock
Due: none

chore: update config tests
  vitest.config.mts
Due: none

test: config tests e2e
  .env.test
  .eslintignore
  .eslintrc
  .github/workflows/playwright.yml
  .gitignore
  package.json
  playwright.config.ts
  src/app/(home)/__tests__/Home.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/organisms/Error/__tests__/CustomError.tsx
  src/hooks/useCount/__tests__/useCount.test.ts
  src/tests/flows/README.md
  src/tests/helpFunctions/index.ts
  src/tests/mocks/style.ts
  src/tests/mocks/svg.ts
  src/tests/pages/home.spec.ts
  src/tests/providerComponent/index.tsx
  src/tests/providerHook/index.tsx
  src/tests/providerHook/types.ts
  vitest.config.mts
  yarn.lock
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

fix: fix config lint
  .eslintrc
Due: none

refactor: improvement tests
  playwright.config.ts
  src/tests/pages/home.spec.ts
Due: pnpm format, pnpm lint:fix, pnpm test:ci --findRelatedTests

fix: remove start server in ci
  .github/workflows/playwright.yml
Due: none

chore: use turbo
  package.json
Due: none
