Repository everton-dgn/boilerplate_nextjs_app: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests, yarn lint:css:fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "yarn format",
    "yarn lint:fix",
    "yarn test:ci --findRelatedTests"
  ],
  "src/**/*.scss": ["yarn lint:css:fix"]
}

chore: update dependencies
  package.json
  yarn.lock
Due: none

refactor: simplify code
  src/app/global-error.tsx
  src/app/types.ts
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

fix: apply font
  src/app/layout.tsx
  src/theme/_fonts.scss
  src/theme/fontFamily.ts
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests, yarn lint:css:fix

refactor: simplify code
  src/theme/_animations.scss
Due: yarn lint:css:fix

refactor: simplify code
  src/app/not-found.tsx
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

feat: add error file
  src/app/error.tsx
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: update rules eslint
  .eslintrc
Due: none

chore: update types
  src/@types/styles.d.ts
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: update order lint
  .eslintrc
Due: none

chore: ignore rule no-floating-promises
  .eslintrc
Due: none

chore: improvement next config
  next.config.js
Due: none

chore: disable rule stylelint
  stylelint.config.js
Due: none

chore: improvement eslint
  .eslintrc
Due: none

test: improvement tests
  src/app/(home)/__tests__/Home.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/organisms/Error/__tests__/CustomError.tsx
  src/hooks/useCount/__tests__/useCount.test.ts
  src/tests/providers/component/index.tsx
  src/tests/providers/hook/index.tsx
  src/tests/providers/hook/types.ts
  src/tests/providers/index.ts
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: remove line unnecessary
  tsconfig.json
Due: none

chore: update to storybook v8
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  yarn.lock
Due: none

feat(build): remove unused dependencies and convert configs to TypeScript
  .lefthook.yml
  .npmrc
  .nvmrc 
  biome.json
  next.config.ts
  package.json
  src/app/(home)/styles.module.css
  src/theme/reset.css
  yarn.lock
Due: none

refactor: remove barrel files and update imports
  biome.json
  src/app/(home)/__tests__/Home.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/components/atoms/CounterButton/index.tsx
  src/components/organisms/ErrorFallback/__tests__/CustomError.tsx
  src/hooks/index.ts
  src/hooks/useCount/__tests__/useCount.test.ts
  src/tests/providers/index.ts
  src/theme/reset.css
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

feat(style): update linting rules and import organization
  biome.json
  src/app/(home)/__tests__/Home.test.tsx
  src/components/atoms/Button/__tests__/Button.test.tsx
  src/components/atoms/CounterButton/__tests__/CounterButton.test.tsx
  src/tests/pages/home.spec.ts
  src/tests/providers/component/index.tsx
  src/tests/providers/hook/index.tsx
  src/theme/reset.css
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

refactor: remove svg module types and update biome rules
  biome.json
  next.config.ts
  package.json
  public/images/logo-nextjs.webp
  public/images/logo_react.svg
  src/@types/images.d.ts
  src/@types/svg.d.ts
  src/app/(home)/__tests__/Home.test.tsx
  src/app/(home)/page.tsx
  src/assets/logo-react.svg
  vitest.config.mts
  yarn.lock
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

feat(config): enhance lint rules with new error checks
  biome.json
Due: none

docs: update README to reflect changes in linting tools and CSS modules
  README.md
Due: none

test: update header locator in home.spec and add test-results to .gitignore
  .gitignore
  src/tests/pages/home.spec.ts
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: update typescript to version 5.7.3
  package.json
  yarn.lock
Due: none

chore: move dotenv to devDependencies in package.json
  package.json
Due: none

chore: comment out unused imports and experimental config in Next.js setup
  next.config.ts
  src/app/(home)/page.tsx
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: remove commented-out logo import from home page
  src/app/(home)/page.tsx
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: update build script to disable linting during build process
  package.json
Due: none

chore: remove sharp dependency from package.json
  package.json
  yarn.lock
Due: none

chore: add @types/react-dom to dependencies and move dotenv back to dependencies
  package.json
  yarn.lock
Due: none

chore: add logo-react.svg to home page and update Next.js config for SVG handling
  next.config.ts
  package.json
  src/app/(home)/page.tsx
Due: yarn format, yarn lint:fix, yarn test:ci --findRelatedTests

chore: update GitHub Actions to use latest versions of checkout and setup-node
  .github/workflows/deploy-vercel.yml
  .github/workflows/playwright.yml
Due: none

chore: update commitlint configuration to increase header max length to 120 characters
  .commitlintrc
Due: none

chore: update package.json and yarn.lock to remove version ranges for @svgr/webpack and @types/react-dom
  package.json
  yarn.lock
Due: none

chore: add pnpm configuration for only built dependencies
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: none

chore: migrate CI workflows to pnpm for dependency management
  .github/workflows/deploy-vercel.yml
  .github/workflows/playwright.yml
Due: none

chore: update project to use pnpm for package management and adjust README accordingly
  .node-version
  README.md
  package.json
Due: none

chore: migrate lefthook commands to pnpm for consistency in package management
  .lefthook.yml
Due: none

chore: update Playwright configuration to use pnpm for development server command
  playwright.config.ts
Due: none
